body
{
    font-family: 'Figtree';
    background-color: $primary-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}