.card {
  background-color: $neutral-white;
  max-width: 21.875rem !important;
  padding: $space-20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.625rem;
  border-radius: 0.938rem;
  border: 0.125rem solid $neutral-black;
  box-shadow: 0.563rem 0.563rem 0 0 $neutral-black;
  .card_image {
    width: $width-100per;
    height: auto;
    border-radius: 0.938rem;
  }
  .card_status {
    font-weight: $font-weight-800;
    font-size: $span-size;
    background-color: $primary-yellow;
    padding: 0.313rem 0.625rem;
    border-radius: 0.188rem;
  }
  .card_date {
    width: $width-100per;
    font-size: $span-size;
    font-weight: $font-weight-500;
  }
  .card_title {
    width: $width-100per;
    font-size: $title-size;
    font-weight: $font-weight-800;
  }
  .card_description {
    width: $width-100per;
    font-size: 0.938rem;
    color: $neutral-grey;
  }
  .card_teacher {
    width: $width-100per;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    .card_teacher_image {
      height: 2.188rem;
      width: 2.188rem;
    }
    .card_teacher_name {
      font-size: $paragraph-size;
      font-weight: 800;
    }
  }
}
